.list-view .empty {margin-left: 15px;}

.catalogBarImageLink{max-width: 152px; max-height: 133px;}
.catalogBlockImageLink{ margin-top: 25px !important; margin-bottom: 25px !important;}
.previewImageLink{box-shadow: 1px 1px 6px rgba(0,0,0,0.15); position: relative; z-index: 1000; top: -70px; left: -100px; max-width: 400px; display: none; }
