/* ------------ Pager -------------- */

.list-view .pager {
    margin-top: 20px;
    text-align: left;
    height: 24px;
    float: left;
    /*border:1px solid red;*/
    width: 70%;

}

ul.yiiPager {
    border: 0 none;
    display: inline;
    font-size: 11px;
    line-height: 100%;
    margin: 0;
    padding: 0;
}

ul.yiiPager li {
    display: inline;
}

ul.yiiPager li a {
    background: none repeat scroll 0 0 #8a7498;
    border: 1px solid #8a7498;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 8px;
    cursor: pointer;
    color: white;
}

li.page.selected a {
    color: #8a7498;
    background-color: white;
}
li.first a:hover, li.previous a:hover, li.page a:hover, li.next a:hover, li.last a:hover {
    background-color: white;
    color: #8a7498;
    text-decoration: none;
}

li.first.hidden a, li.previous.hidden a, li.next.hidden a, li.last.hidden a{
    background: none repeat scroll 0 0 #e7e7e7;
    border: 1px solid #e7e7e7;
}
li.first.hidden a:hover, li.previous.hidden a:hover, li.next.hidden a:hover, li.last.hidden a:hover {
    background-color: #e7e7e7;
    color: white;
    text-decoration: none;
}

/* ------------ Viewer -------------- */

.viewer {
    margin-top: 16px;
    margin-bottom: 10px;
    /* border:1px solid red; */
    /* float: right; */
    height: 24px;
    /* width: 30%; */
    text-align: right;
    color: #8a7498;
}

.viewer input{
    background: none;
    border: none;
    font-size: 12px;
    color: #8a7498;
    font-family: arial, verdana, helvetica, sans-serif;
    font-weight: bold;
    line-height: 24px;
}

.viewer input:hover{
    text-decoration: underline;
}