.catalogImageLink{}
.previewImageLink{display: none;}

.items-ident {display: none;}
.hr.up {display: none;}

.fancy-inline.product-preview {
    text-align: center;
    height: auto;
    line-height: normal;
}
.product-preview-img {
    max-height: 90px;
    margin: 5px;
}

.invisible {
    display: none;
}
.preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

#oneClickOrder .modalContent  {
    z-index: 1001;
    width: 740px;
    margin-left: -360px;
    top: 50px;
    padding: 15px;
    text-align: left;
}

#oneClickOrder .modalContent h3 {
    text-indent: 0;
    margin-top: 0;
}

#oneClickBuyButton {
    background: #ffae00;
    border: 1px solid #ffae00 !important;
}
#oneClickBuyButton:hover {
    background: #fff !important;
    color: #ffae00 !important;
}

#orderComment {

}
#orderSubmit {
    display: none;
}

#delivery .modalContent  {
    z-index: 1001;
    width: 600px;
    margin-left: -300px;
    top: 50px;
    padding: 15px;
    text-align: left;
}

#sertification .modalContent  {
    z-index: 1001;
    width: 600px;
    margin-left: -300px;
    top: 50px;
    padding: 15px;
    text-align: left;
}
#dileveryButton {
    width: 50%; height: 50px; float: left; padding-left: 54px; padding-top: 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    background: left top url(/../public/img/dilevery.png) no-repeat;
    cursor: pointer;
}
#certificateButton {
    width: 50%; height: 50px; float: left; padding-left: 54px; padding-top: 8px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    background: left top url(/../public/img/certificate.png) no-repeat;
    cursor: pointer;
}
