/* ============================ CSS RESET ============================ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
menu, nav, section,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

:link,:visited {text-decoration:none}
h1,h2,h3,h4,h5,h6,pre,code {font-size:1em;font-weight:500;font-family: 'El Messiri', sans-serif;}
ul,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin:0; padding:0}
a {cursor: pointer; color: #555}

a:hover {text-decoration: none; color: #b799c6;}
a img,:link img,:visited img {border:none}

/* Just a few HTML5 element defaults */
article, aside, footer, header, nav, section {display: block;}

/*.clear {clear:both;}*/
.clear {height: 40px}
.clear-both {clear:both }
/*================ COMMON ======================*/

html {
  height:100%;
}

body {
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background: #ffffff;
	color: #555555;
	margin:0;
	padding:0;
	height: 100%;
	min-height:100%;
	}

#wrapper {
	position: relative;
	margin: 0 auto;
	padding: 10px;
	width:1200px;
	background: #fff;
	min-height:100%;
	height:auto !important;
	height:100%;
}

#substrate {

}

.modal {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
}

.modalContent {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.closeModalButton{
	float: right;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 2px 6px 3px 6px;
	color: white;
	background-color: #fe850e;
}

.modal h2 {
	text-align: center;
	margin-top: 7px;
}

.modal h3 {
	margin-top: 10px;
	margin-bottom: 7px;
	text-indent: 20px;
	font-size: 14px;
}

.modal p {
	text-indent: 20px;
}


#backPhoneCall .modalContent  {
	z-index: 1001;
	text-align: center;
	width: 300px;
	margin-left: -150px;
	margin-top: -150px;
}

h1 {
	font-size: 22px;
	font-weight:bold;
	font-family: 'El Messiri', sans-serif;
	margin: 15px;
	margin-bottom: 5px;

}

h2 {
	font-size: 18px;
	margin: 15px;
    margin-bottom: 5px;
	font-weight:bold;
}

h3 {
	font-size: 16px;
	font-weight:bold;
    margin-bottom: 10px;
	font-family: 'El Messiri', sans-serif;
}

input[type="text"], input[type="password"]  {
	height: 22px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 4px;
	padding-right: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ddd;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="submit"] {
    cursor: pointer;
}

input[type="button"] {
    cursor: pointer;
}

select{
    cursor: pointer;
}

#pd10	{
	padding: 15px;
	margin: 0;
}

#aright	{
	text-align: right;
	padding-left: 180px;
}

#aleft	{
	text-align:left;
}

#fright	{
	float:right;
}

#fleft	{
	float:left;
}

.float-left {
	float:left;
}
.float-right {
	float:right;
}

.orange {
	color: #8a7498;
}

.big {
    font-size: 15px;
    font-weight: bold;
}

.info {
    display: none;
}

.subarticle {
	border: 1px solid #8a7498;
    background-color: #8a7498;
    color: #ffffff;
    border-radius: 4px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
}

.subarticle:hover {
	color: #8a7498;
    background-color: #ffffff;
	text-decoration: none;
}


/*============== HEADER =================*/
#topnav {
	text-align: left;
	padding: 2px 0 10px 14px;
}

#topnav a {
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
	margin-top: 12px;
	display:inline-block;
	font-family: 'El Messiri', sans-serif;
}
#topnav a:hover {
	color: #b799c6;
}

.topnav_sep {
	display: inline-block;
	margin: 0 5px -3px;
	background-image: url("/../public/img/sep.gif");
	height: 19px;
	width: 3px;
}

#logo {
	height:91px;
	/*background:url(/../public/img/logo.png) top left no-repeat transparent;*/
	border: 0px;
	border-radius: 6px;
	text-align:right;

}
.logo-place {
	text-align: left; font-size: 32px; line-height: 14px; font-weight: bold;
}
.logo-link {
	width: 600px;
	float: left;
	color: white;
	cursor: pointer;
}
.logo-link span.logoname {
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 14px;
	line-height: 28px;
	font-family: 'El Messiri', sans-serif;
}
.logo-link span.logodescription {
	font-size: 16px;
	font-weight: 500;
	color: #8a7498;
	font-family: 'El Messiri', sans-serif;
}


.logo-link:hover span.logoname {
	color: #bca2ca;
	text-decoration: none;
}
.phone {
	display:inline-block;
	padding-top:1px;
	background: right top url("/../public/img/phones.png") no-repeat;
	padding-right: 68px;
	height: 91px;
	font-family: 'El Messiri', sans-serif;
	cursor: pointer;
}

.phone .number {
	font-size: 36px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 14px;
 }
.phone:hover .number {
	color: #bca2ca;
}
.phone .callback {
	font-size: 16px;
	font-weight: 500;
	color: #8a7498;
	font-family: 'El Messiri', sans-serif;
}
#callback {
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 6px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
    padding: 8px;
}

#cbcallbt {
    cursor: pointer; text-decoration: none; margin-top: 8px;
    display: block;
    color: #FFF;
    background: none repeat scroll 0% 0% #8a7498;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #8a7498;
    font-weight: bold;
    text-align: center;
    height: 14px;
}

#cbcallbt:hover {
    background-color: white;
    color: #8a7498;
}

#phone_number {
	font-size:36px;
	font-weight: bold;
	margin-bottom: -5px;
}

#back_call	{
	color: #fe850e;
	padding-right: 5px;
	font-size:16px;
	font-weight: bold;
}
#back_call div	{
	display:inline-block;
}

#cart_block {
	text-align:left;
	display:inline-block;
	padding-left:20px;
	width: 165px;
	float: right;
	margin-top: 5px;
}

#login { text-align:right; height:16px; color: #78b400 }
#login a { text-decoration: none; color: #8a7498; font-weight: bold }
#login a:hover{ color: #b799c6 }

#cart_img { display: block; text-align: left; background:url(/../public/img/korzina.gif) right top no-repeat; padding-top: 5px; margin-bottom: 2px; color: #8a7498; font-size:16px; font-weight: bold }
#cart_img:hover { color: #b799c6 }
.headerCartLink:hover {
    text-decoration: none;
}


#cart_pic {
	display: inline-block;
}

#cart_goods_num,  #cart_sum_num {
/*	display:inline-block; */
	text-align:right;
	color: #8a7498;
	font-size:16px;
	font-weight: bold;
/*	width:48%;	*/
}

.cart_gt {
    color: black;
	float:left;
	margin-top: 3px;
/*	display:inline-block;
	width:50%;
*/
}

.ui-effects-transfer { border: 2px dotted gray; }
.headerCartLink {display: block;}
/*================ BODY =================*/

#content_body_wrapper {
	width:100%;
	height: 100%;
    overflow: hidden;
	min-height:100%;
     _height:100%;
	background: #f8fafa;
	border-radius: 6px;
}

* html #content_body_wrapper {
  height: 100%;
}

#left_menu_block {
	float:left;
	background: url(/../public/img/lcbg.gif) top center no-repeat #f8fafa;
	width:230px;
	padding: 15px;
	text-align:left;
}

#center_content_block {
	position:relative;
	background: #f8fafa;
	margin-left: 260px;
	margin-right: 165px;
	text-align:left;
	min-height:100%;
	height: 100%;
	_height:100%;
}

* html #center_content_block {
  height: 100%;
}

#right_menu_block {
	float:right;
	background: url(/../public/img/rcbg.gif) top center no-repeat #f8fafa;
	width:135px;
	padding: 15px;
	text-align:left;
}

#lm_title, #rm_title {
	font-size:1.65em;
	font-weight:bold;
	margin-bottom: 0.35em;
	margin-left:-1px;
	font-family: 'El Messiri', sans-serif;
}

#lm_title a, #rm_title a {
	color: #000;
	font-family: 'El Messiri', sans-serif;
}
#lm_title a:hover, #rm_title a:hover {
	color: #b799c6;
}


#footer {
	text-align: left;
	height: 22px;
	background: #b3b6b6;
	color: #ffffff;
	border-radius: 6px;
	padding: 23px 23px 15px 23px;
}



#footer a {
	color: #ffffff;
	font-weight: bold;
	margin-top: 4px;
}
#footer a:hover {
	color: #727272;
}


div.toUp {
	position: fixed;
	height: 32px;
	width: 64px;
	background:  url(/../public/img/promotka.png) center center no-repeat;
	bottom: 90px;
	margin-left: 80px;
	z-index: 999;
	display: none;
	cursor: pointer;
}

/*================ VERTICAL MENU =================*/
li[data-root='root'] {
    font-size: 15px;
}

li[data-root='children'] i {

}


/*================ SEARCH AND FILTER BLOCK =================*/
#advancedSearch {
	color: #FFAE00 !important;
	font-size: 15px;
	font-family: 'El Messiri', sans-serif;
}
#advancedSearch:hover {
	text-decoration: underline;
}

.pr5	{
	padding-right:5px;
}

#filter .pr5	{
	padding-right:0px;
}

.search_filter {
	text-align:left;
	padding: 17px 15px 4px 15px;
	background: #ffffff;
	border-radius: 6px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	white-space: nowrap;
}

#search {
	margin-bottom: 0.5em;
}

#search a {
	display: inline-block;
}

#searchfield {
	width: 100%;
}

#sfdiv 	{
	float:left;
	width:55%;
}

#sfbut 	{
}


#f_price, #f_type, #f_width, #f_go, #f_brand, #f_material {
	display: inline-block;
	width: 33%;
}

#tf_go {
	width:133px;
	text-align:right;
}

#f_price span, #f_type span, #f_width span, #f_go span, #f_brand span, #f_material span {
	display: block;
	text-align:center;
	font-weight:bold;
	margin-left: -10px;
}

#f_price select, #f_type select, #f_width select, #f_go select, #f_brand select, #f_material select {
	width: 100%;
	font-size:12px;
}

.button {
	background: #8a7498;
	color: #ffffff;
    border: 1px solid #8a7498;
	padding: 2px 12px;
	font-size: 12px;
	font-weight:bold;
	border-radius: 4px;
    height: 22px;
}

.button:hover {
    background-color: white;
    border: 1px solid #8a7498;
    color: #8a7498;
}

#search .button {
	margin: 0 10px;
}

#tf_go .button {
	width: 133px;
}

#search a {
	color: #8a7498;
}

.btnSearchKnife {
    margin-top: 15px;
    margin-right: 2px;
}

.tblAdvancedSearch{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.content {
	padding: 15px 0;
	height:auto;
	text-align: center;
}

.content #ngds {
	text-align: left;
}

#ngds .newgoods_block	{
	padding:0;
}
.content h2 {
	text-align: left;
	margin: 0 15px 15px 15px;
}
.description_block h2{
	margin: 15px 0 5px 0;
}

.hr {
	height: 2px;
	background:url(/../public/img/hr.gif);
	margin: 0 !important;
}
/*=============== NEW GOODS ================*/

button {
	color: #ffffff;
	text-align: center;
	background: #8a7498;
	font-weight: bold;
	padding: 5px 20px 5px 20px;
	border: 1px solid #8a7498;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	cursor: pointer;
}
button:hover, button.deleteOrange:hover {
	background-color: white;
	color: #B59EC3 !important;
	border: 1px solid #B59EC3 !important;
	text-decoration: none;
}
button:focus {
	outline: 0;
}


.newgoods_block {
    margin: 10px;
	background: #ffffff;
	border-radius: 6px;
	width:152px;
	min-height:276px;
	display:inline-block;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.15);
	padding: 8px;
	text-align:center;
}

.newgoods_block .admin-edit {
	position: absolute; with:16px; height: 16px;
}
.newgoods_block .admin-edit a{
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	with: 16px; height: 16px;
	background: #ffae00;
	border-radius: 2px;
	display: block;
	color: white;
}
.newgoods_block .admin-edit a:hover{
	color: #9c6800;
}

.newgoods_block img{
    border-radius: 6px;
}
.imgCatalogNoPhoto {
	max-height: 110px;
	max-width: 140px;
}

.newgoods_block .goods_img_place {
    height: 135px;
    line-height: 135px;
    text-align: center;
}

.newgoods_block .goods_img_place a{
    margin: auto;
}

.description_block {
    height: 1%;
    overflow: hidden;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.15);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
	line-height: 20px;
}

.description_block img{
    border-radius: 6px;
    float:left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.description_block.infopage{
    padding: 20px;
}
.description_block.infopage p{
    margin-bottom: 10px;
    margin-top: 5px;
}
.description_block.infopage ul{
    margin: 15px;
}
.description_block.infopage li{
    margin-left: 5px;
    padding-left: 5px;
}


.newgoods_block.ngleft {
	float:left;
	margin-right:5px;
}

.newgoods_block.ngcenter {

}

.newgoods_block.ngright {
	float:right;
	margin-left:5px;
}

#ng_big_desc	{
	width: 98%;
	height: auto;
	text-align:left;
    padding: 0;
}

#ng_big_desc_img {
	/*float:left;*/
	width: 100%;
	/*margin: 10px 10px 0 0;*/
    text-align: center;
    margin-top: 5px;
	margin-bottom: 20px;
    /*height: 350px;*/
    vertical-align: middle;
}

.nextImage{
    border: 0px solid red; width: 24px; position: absolute; right: 10px; height: 302px; background:url(/../public/img/fotoright.png) center center no-repeat transparent; cursor: pointer;
}

.prevImage{
    border: 0px solid red; width: 24px; position: absolute; left: 10px; height: 302px; background:url(/../public/img/fotoleft.png) center center no-repeat transparent; cursor: pointer;
}

.fancy-inline{
	margin: auto;
}

.fancy-inline.list{
	width: auto;
	height: auto;
	line-height: normal;
}

.fancy-inline.category-description,.fancy-inline.brand-description,.fancy-inline.collection-description {
	height: auto;
	width: auto;
	line-height: normal;
	float: left;
	text-align: center;
}
.fancybox-close i, .fancybox-next i, .fancybox-prev i {
	text-shadow: 1px 1px 2px black;
}
.fancybox-close:hover i, .fancybox-next:hover i, .fancybox-prev:hover i {
	color: #ffae00;
}

#ng_big_desc_img img {
    border-radius: 6px;
    max-height: 230px;
	max-width: 310px;
	/*border: 1px solid #ddd;*/
	display: block;
}

#ng_big_desc_txt {
	vertical-align: top;
	margin-top:.5em;
}

.newgoods_block h3 {

}

#g_features	{

}

.moar {
	margin: 15px 0;
	text-align:right;
}

.moar a {
	color: #8a7498;
}

.newgoods_block #ng_desc, .newgoods_block #ng_brand {
		margin-top: 0;
}

.newgoods_block #ng_desc a {

}
.newgoods_block #ng_desc a:hover {
	color: #bca2ca;
	text-decoration: none;
}

.newgoods_block #ng_brand a {
	color: #8a7498;
}
.newgoods_block #ng_brand a:hover {
	color: #bca2ca;
	text-decoration: none;
}

#ng_desc {
    height: 43px;
	overflow: hidden;
	margin-bottom: 4px;
}

#ng_price {
    margin-top: .5em;
	font-size: 1.5em;
    /*height: 42px;*/
    /*line-height: 42px;*/
}

.line-through {
    text-decoration: line-through;
}

.ng_price_discount {
    margin-top: 2px;
    font-size: 1.5em;
}

#ng_big_desc_txt #ng_price {
	margin-top: .5em;
}

div.ng_buy { display:block; margin-top: 1em; color: #ffffff; background: #8a7498; width:auto; padding: 3px; border-radius: 4px;border: 1px solid #8a7498; font-weight: bold; cursor: pointer }
div.ng_buy:hover { background-color: white; color: #8a7498; text-decoration: none }



#ng_big_desc div.ng_buy {
	color: #ffffff;
	width: 110px;
	text-align:center;
	background: #8a7498;
	font-weight: bold;
	padding: 3px;
    border: 1px solid #8a7498;

}

#ng_big_desc div.ng_buy:hover {
    background-color: white;
    color: #B59EC3;
    border: 1px solid #b59ec3;
	text-decoration: none;
}

.deleteOrange { color: #8a7498 !important;  background-color: white!important;;}

div.ng_buy.delete:hover, div.ng_buy.deleteOrange:hover {
	background-color: white;
	color: #B59EC3 !important;
	border: 1px solid #B59EC3 !important;
	text-decoration: none;
}

#ng_big_desc_txt #ng_price {
	/*float: left;*/
}

#ng_big_desc_txt div.ng_buy {
	/*float: right;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

#ng_big_desc_txt #fleft, #ng_big_desc_txt #aright {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 4px 0;
	padding-bottom: 4px;
}

#ng_big_desc #fleft img {
	float: left;
}

#list_desc	{
	display: inline-block;
	margin-left: 6px;
	margin-top: 3px;
}

#ng_big_desc #aright div.ng_buy {
	display: inline-block;
	margin-top: 0;
}

.newgoods_block #list_row	{
	margin: 0 0 5px 0;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
}

#list_row a	{
	color: #000;
}
#list_row a:hover	{
    color: #8a7498;
}

.newgoods_block a.blockLink {
    color: #000000;
}
.newgoods_block a.blockLink:hover {
    text-decoration: underline;
}



/*============================ PAGES & VIEW ==================================*/

.pages	{
	float:left;
	margin-bottom: 4px;
}

.pages a	{
	background: #8a7498;
	color: #ffffff;
	font-size:10px;
	padding: 4px 8px;
	border-radius: 3px;
	font-weight:bold;
}

.view	{
	text-align:	right;
	color: #8a7498;
}

.view a	{
	color: #8a7498;
	font-weight: bold;
}

/*============================ FLASH ==================================*/

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

/*============================ Catalogue ==================================*/

div.catalogue a.catalogue-block {
	width: 150px;
	height: 180px;
	margin: 15px;
	float: left;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.15);
	border-radius: 4px;
	text-align: center;
	padding-top: 15px;
	display: block;
	cursor: pointer;
	border: 1px solid #ffffff;
}
div.catalogue a.catalogue-block:hover {
	border: 1px solid #d9d9d9;
	text-decoration: none;
}

div.catalogue div.category-img {
	text-align: center;
}
div.catalogue div.category-img img {
	max-height: 100px;
	max-width: 130px;
}
div.catalogue div.category-name {
	height: 50px;
	overflow: hidden;
	margin-bottom: 5px;
}

div.catalogue div.brand {
	width: 105px;
	height: 105px;
	margin: 20px;
	float: left;
	border: 1px solid red;
}

div.catalogue div.brand-img {
	text-align: center;
}
div.catalogue div.brand-img img {
	max-height: 100px;
	max-width: 130px;
}
div.catalogue div.brand-name {
	height: 28px;
	overflow: hidden;
	margin-bottom: 5px;
}

div.catalogue div.brand {
	width: 105px;
	height: 105px;
	margin: 20px;
	float: left;
	border: 1px solid red;
}

div.catalogue a.fancy-inline.catalogue {
	text-align: center;
	line-height: normal;
	border: 1px solid green;
}
.ui-effects-transfer { z-index: 10000 !important;}
.discount10 {
	color: #FFAE00;
	font-size: 20px;
	display: block;
	font-weight: 600;
	font-family: 'El Messiri', sans-serif;
}
#content .discount10 {
	margin-left: 15px;
}
.previewImageLink {
	border: 1px solid white;
}