{{ define "pages" }}
    <div>
        <noindex>
            <span class="discount10">Скидка на первую покупку в нашем магазине – 10% *</span>
        </noindex>

        <h1>{{ .Brand.Name }}</h1>

        {{ $length := len .Collections }} {{ if gt $length 0 }}
            <div class="description_block">
                {{ range .Collections }}
                    <a class="subarticle" href="/brands/{{ $.Brand.Code }}/{{ .Code }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            </div>
        {{end}}


        {{ template "products" .}}

        <div class="clear"></div>
        {{if .Brand.Description }}
            {{/* todo if category description exist and not exist get param Product_page */}}
            <div class="description_block">
                <p>
                    <a class="fancy-inline category-description" href="/photo/brand/b-{{ .Brand.Code }}-d.jpg">
                        <img src="/photo/brand/s-{{ .Brand.Code }}-d.jpg" alt="{{ .Brand.Code }}">
                    </a>
                    {{ .Brand.Description }}
                </p>
            </div>
        {{end}}
    </div>
{{ end }}