{{ define "pages" }}
    <div class="catalogue">
        <noindex><span class="discount10">Скидка на первую покупку в нашем магазине – 10% *</span></noindex>
        <h1>Каталог</h1>

        <div class="description_block">
            {{ range .Categories }}
                <a class="catalogue-block" href="/catalogue/{{ .Code }}">
                <div class="category-name">
                    {{ .Name }}
                </div>
                <div class="category-img">
                    <img alt="" style="float: none; margin: 0;" src="/photo/category/s-{{ .Code }}-d.jpg">
                </div>
                </a>
            {{ end }}
        </div>

        <h2>Бренды</h2>
        <div class="description_block">
            {{ range .Brands }}
            <a class="catalogue-block" href="/brands/{{ .Code }}">
                <div class="brand-name">
                    {{ .Name }}
                </div>
                <div class="brand-img">
                    <img alt="" style="float: none; margin: 0;" src="/photo/brand/s-{{ .Code }}-d.jpg">
                </div>
            </a>
            {{ end }}
        </div>
    </div>
{{ end }}
