{{ define "pages" }}
    <div>
        <noindex><span class="discount10">Скидка на первую покупку в нашем магазине – 10% *</span></noindex>
        <h1>{{ .Category.Name }}</h1>

        {{ if .Subcategories }}
            <div class="description_block">
                {{ range .Subcategories }}
                    <a class="subarticle" href="/catalogue/{{ $.Category.Code }}/{{ .Code }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            </div>
        {{ end }}

        {{if .Brands }}
            <div class="description_block">
                {{ range .Brands }}
                    <a class="subarticle" href="/catalogue/{{ $.Category.Code }}/brand/{{ .Code }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            </div>
        {{end}}


        {{ template "products" .}}

        <div class="clear"></div>
        {{if .CategryDescription }}
            {{/* todo if category description exist and not exist get param Product_page */}}
            <div class="description_block">
                <p>
                    <a class="fancy-inline category-description" href="/photo/category/b-{{ .Category.Code }}-d.jpg">
                        <img src="/photo/category/s-{{ .Category.Code }}-d.jpg" alt="{{ .Category.Code }}">
                    </a>
                    {{ .CategryDescription }}
                </p>
            </div>
        {{end}}
    </div>
{{ end }}