{{ define "pages" }}
    <div>
        <noindex><span class="discount10">Скидка на первую покупку в нашем магазине – 10% *</span></noindex>
        <h1>{{ .Category.Name }} {{ .Brand.Name }}</h1>

        {{ template "products" .}}

        <div class="clear"></div>
    </div>
{{ end }}