{{ define "pages" }}
    <div>
        <noindex><span class="discount10">Скидка на первую покупку в нашем магазине – 10% *</span></noindex>

        <h1>{{ .Brand.Name }} {{ .Collection.Name }}</h1>

        {{ template "products" .}}

        <div class="clear"></div>

        {{if .CollectionDescription }}
            {{/* todo if category description exist and not exist get param Product_page */}}
            <div class="description_block">
                <p>
                    {{ .CollectionDescription }}
                </p>
            </div>
        {{end}}
    </div>
{{ end }}