{{ define "pages" }}
    <div id="vueapp">
        <swiper ref="awesomeSwiper" :options="swiperOption" @set-translate="onSetTranslate">
            <!-- slides -->
            <swiper-slide>
                <table class="slide-table"
                       style="background-image: url('http://original-knife.ru/photo/slider/knife-block.jpg');">
                    <tr>
                        <td class="slide-table__title">Добро пожаловать!</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="slide-table__description">
                                Никаких подделок! Огромный выбор, весь товар сертифицирован.
                            </span>
                        </td>
                    </tr>
                </table>
            </swiper-slide>
            <swiper-slide>
                <table class="slide-table"
                       style="background-image: url('http://original-knife.ru/photo/slider/vegetables.jpg');">
                    <tr>
                        <td class="slide-table__title">Добро пожаловать!</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="slide-table__description">
                                <a href="/catalogue/kuhonniye_nozhi/nozhi_dlya_ovoschey"
                                   class="slide-table__description__link">Ножи для овощей от ведущих производителей. Смотреть...</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </swiper-slide>
            <!-- Optional controls -->
            <div class="swiper-pagination" slot="pagination"></div>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
        </swiper>
    </div>

    <!-- НОВИНКИ -->
    <div>
        <h2>Новинки ножей</h2>

        <div id="noveltyListView" class="items">
            {{ range .Novelties }}
            <div class="newgoods_block">
                <div class="goods_img_place">
                    <img alt="{{ .Name }}" src="/photo/product/s-{{ .Code }}-d.jpg"/>
                </div>
                <div id="ng_desc">
                    <a href="/product/{{ .BrandCode }}/{{ .Code }}.html">{{ .Name}}</a>
                </div>
                <div id="ng_brand">
                    <a href="/brand/{{ .BrandCode }}">{{ .BrandName }}</a>
                </div>

                {{/* todo add Discount */}}
                {{/* php $priceDiscount =  $data->price; */}}
                {{/* php if ($data->discount_id): */}}
                {{/* php $priceDiscount =  (int)$data->price - (int)$data->price * ( (int)$data->discounts->percentage ) * 0.01  ; */}}
                <div id="ng_price" style="height: 24px;">
                    {{ if .DiscountID }}
                        <span class="line-through">{{ .Price }}<b>руб.</b> </span>
                    {{ end }}
                </div>
                <div class="ng_price_discount">
                    {{ .Price }}<b>руб.</b>
                </div>

                {{/* todo проверка нажатия кнопки */}}
                <div class="ng_buy" onclick="cartOrangeButton(this,{{ .Price }} ,0);">
                    Купить
                </div>
            </div>
        {{ end }}
    </div>

    <div class="moar"><a href="/novelty">Ещё новинки &gt;&gt;&gt;</a></div>
    <div class="hr"></div>
    <br>
    </div>

    <h2>Категории ножей</h2>
    <div class="description_block catalogue">
        {{ range .RootCategories }}
            <a class="catalogue-block" href="/catalogue/{{ .Code }}">
                <div class="category-name">
                    {{ .Name }}
                </div>
                <div class="category-img">
                    <img style="float: none; margin: 0px;" src="/photo/category/s-{{ .Code }}-d.jpg" >
                </div>
            </a>
        {{ end }}
    </div>

    <h2>Производители ножей</h2>
    <div class="description_block catalogue">
        <!-- Производители -->
        {{ range .Brands }}
            <a class="catalogue-block" href="/brands/{{ .Code }}">
                <div class="brand-name">
                   {{ .Name }}
                </div>
                <div class="brand-img">
                    <img alt="" style="float: none; margin: 0;" src="/photo/brand/s-{{ .Code }}-d.jpg" >
                </div>
            </a>
        {{ end }}
    </div>

{{ end }}