{{ define "pages" }}

{{/*    // Title*/}}
{{/*    if ($product->promo_title == null) $this->pageTitle = "Купить $productName - низкие цены, интернет-магазин ножей в Москве ";*/}}
{{/*    else $this->pageTitle = CHtml::encode($product->promo_title);*/}}
{{/*    // Meta*/}}
{{/*    // Если поле не заполнено*/}}
{{/*    // Description*/}}
{{/*    if ($product->promo_description == null) Yii::app()->clientScript->registerMetaTag("$productName - оригинальный нож по самой низкой цене в Москве. Если вы хотите купить $productName и получить подарок – это к нам! Скидки, акции любимым клиентам при покупке ножей! Интернет-магазин оригинальных ножей Original-Knife.ru", 'description');*/}}
{{/*    else Yii::app()->clientScript->registerMetaTag($product->promo_description, 'description');*/}}
{{/*    // Keywords*/}}
{{/*    if ($product->promo_keywords == null) Yii::app()->clientScript->registerMetaTag("$product->name, ножи, купить, цены, продажа, Москва, интернет-магазин", 'keywords');*/}}
{{/*    else Yii::app()->clientScript->registerMetaTag($product->promo_keywords, 'keywords');*/}}
{{/*    // Robots*/}}
{{/*    Yii::app()->clientScript->registerMetaTag($product->promo_robots, 'robots');*/}}


{{/*    $productToCategory = ProductToCategory::model()->findByAttributes(array('product_id' => $product->id));*/}}
{{/*    if ($productToCategory != null) $category = Category::model()->findByPk($productToCategory->category_id);*/}}
{{/*    else $category = null;*/}}
{{/*    $brand = Brand::model()->findByPk($product->brand_id);*/}}
{{/*    // Хлебные крошки*/}}
{{/*    $this->breadcrumbs["Каталог"] = Yii::app()->baseUrl . '/catalogue';*/}}

{{/*    todo проверить товар в категории */}}
{{/*    // Если вообще есть категория*/}}
{{/*    if ($category != null) {*/}}
{{/*    // Если есть родительская категория*/}}
{{/*    if ($category->parent_id != null) {*/}}
{{/*    $parentCategory = Category::model()->findByPk($category->parent_id);*/}}
{{/*    $this->breadcrumbs[$parentCategory->name] = $this->createAbsoluteUrl('/catalogue/' . $parentCategory->code);// Yii::app()->baseUrl . '/catalogue/' . $parentCategory->code;*/}}
{{/*    $this->breadcrumbs[$category->name] = $this->createAbsoluteUrl('/catalogue/' . $parentCategory->code . '/' . $category->code); // Yii::app()->baseUrl . '/catalogue/' . $parentCategory->code . '/' . $category->code;*/}}
{{/*    $this->breadcrumbs[$brand->name] = $this->createAbsoluteUrl('/catalogue/' . $parentCategory->code . '/' . $category->code . '/' . $brand->code); //Yii::app()->baseUrl . '/catalogue/' . $parentCategory->code . '/' . $category->code . '/' . $brand->code;*/}}
{{/*    } else {*/}}
{{/*    $this->breadcrumbs[$category->name] = $this->createAbsoluteUrl('/catalogue/' . $category->code); //Yii::app()->baseUrl . '/catalogue/' . $category->code;*/}}
{{/*    $this->breadcrumbs[$brand->name] = $this->createAbsoluteUrl('/catalogue/' . $category->code . '/brand/' . $brand->code); // Yii::app()->baseUrl . '/catalogue/' . $category->code . '/brand/' . $brand->code;*/}}
{{/*    }*/}}
{{/*    } // Если категории нет*/}}
{{/*    else  $this->breadcrumbs[$brand->name] = $this->createAbsoluteUrl('/brands/' . $brand->code); // Yii::app()->baseUrl . '/brands/' . $brand->code;*/}}

{{/*    $this->breadcrumbs[] = $productName;*/}}

{{/*    todo Подрубить fancy Box !*/}}


{{/*   todo Последние просмотренные*/}}
{{/*    $_SESSION['recentlyViewed'][] = $product->id;*/}}
{{/*    $_SESSION['recentlyViewed'] = array_unique($_SESSION['recentlyViewed']);*/}}

{{/* todo проверить товар в корзине */}}
{{/*    $class = "";*/}}
{{/*    $linkhtmltext = "Купить";*/}}
{{/*    // Проверим, есть ли товар в корзине*/}}
{{/*    if (isset(Yii::app()->request->cookies['storeCubeProducts'])) {*/}}
{{/*    $productsArray = json_decode(Yii::app()->request->cookies['storeCubeProducts']->value, true);*/}}
{{/*    if (array_key_exists($product->id, $productsArray)) {*/}}
{{/*    $class = "deleteOrange";*/}}
{{/*    $linkhtmltext = "В корзину";*/}}
{{/*    }*/}}
{{/*    }*/}}

    <!-- Купить в один клик - модальное -->
    <div id="oneClickOrder" class="modal">
        <div class="modalContent">
            <div class="closeModalButton" onclick="$('#oneClickOrder').fadeOut('slow');"><b>x</b></div>
            <h2>Купить в один клик</h2>
            <br><br>
            <h3 style="float: left;">{{ .Product.Name }}</h3>
            <div id="ng_price" style="float: right; margin-top: 0;">
                {{ if .Product.DiscountID }}
                    <span class="line-through">
                        {{/* todo formatted <?php echo number_format((int)CHtml::encode($product->price), 2, ',', ' '); ?> */}}
                        {{ .Product.Price }}<b>руб.</b>
                    </span>
                {{ end }}
                {{/* <?php $priceDiscount = $product->price; ?>*/}}
                {{/* <?php if ($product->discount_id): ?>*/}}
                {{/* <?php $priceDiscount = (int)$product->price - (int)$product->price * ((int)$product->discounts->percentage) * 0.01; ?>*/}}
                <span class="orange">
                    {{/* todo <?php echo number_format($priceDiscount, 2, ',', ' '); ?>*/}}
                    {{ .Product.Price }}
                </span>
                <b>руб.</b>
                {{/* <?php else: ?>*/}}
                <span class="orange">
                    {{/*<?php echo number_format((int)$product->price, 2, ',', ' '); ?>*/}}
                    {{ .Product.Price }}
                </span>
                <b>руб.</b>
                {{/* <?php endif; ?>*/}}
                <div style="height: 16px; float: right; ">
                    <div class='decQuantity'
                    {{/*  onclick="oneClickDecreaseQuantity(<?php echo $priceDiscount ?>)">*/}}
                         onclick="oneClickDecreaseQuantity({{ .Product.Price }})">
                    </div>
                    <div class='valQuantity'><span id="oneClickQuantity">1</span> шт.</div>
                    <div class='incQuantity'
                         onclick="oneClickIncreaseQuantity({{ .Product.Price }})">
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div>
                {{ .Product.Price }}
                {{/* todo order once click */}}
                {{/* <?php $this->renderPartial('../cart/_orderoneclickform', array('model' => $orderOneClickForm)); ?>*/}}
            </div>
            <br>
            <div class="total_summary" style="width: 150px; float: right">
                <div class="total_summary_label">Сумма:</div>
                <div class="total_summary_value">
                    <span class="orange" id="oneClickTotalPrice">
                        {{/* todo total price */}}
                        {{/* <?php echo $priceDiscount; ?>*/}}
                        {{ .Product.Price }}
                    </span>руб.
                </div>
            </div>
            <div style="clear: both"></div>
            <div>
                <button onclick="oneClickOrder()" style="float: right">
                    Заказать
                </button>
            </div>
        </div>
    </div>

    <!-- Модальное: доставка и оплата   -->
    <div id="delivery" class="modal">
        <div class="modalContent">
            <div class="closeModalButton" onclick="$('#delivery').fadeOut('slow');"><b>x</b></div>
            <h2>Доставка и оплата покупки</h2>
            <p><strong>Доставка по г. Москве и Московской области</strong></p><br>

            <p><strong></strong>Доставка заказа осуществляется <span class="redactor-invisible-space">собственной курьерской службой</span>  в любое удобное для Вас время, семь дней в неделю, с 08.00 до 24.00.
            </p><p> За час до доставки наш курьер свяжется с Вами по телефону и уведомит о своем приезде.
            </p><p> <span class="redactor-invisible-space">Стоимость доставки <span class="redactor-invisible-space">в пределах МКАД</span> до 5000 рублей - 300 рублей. Если сумма заказа свыше 5000 рублей доставка в пределах МКАД бесплатна.<span class="redactor-invisible-space"></span></span><br>
            </p><p><span class="redactor-invisible-space">Если сумма заказа меньше 1000 рублей доставка в пределах МКАД - 400 р.</span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space">Стоимость доставки <span class="redactor-invisible-space">за пределы МКАД</span> - 100 - 1000 рублей в зависимости от удалённости и суммы заказа.</span></span> <br>
            </p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space">Стоимость доставки</span></span> в районы Новой Москвы уточните у оператора по телефону + 7 (495) 784-38-34.<br>
            </p><p>Также возможен самовывоз (бесплатно), наш адрес г. Москва, ул. Смольная д. 24 (по предварительной договорённости)<br>
            </p>

            <br>
            <p><strong>Доставка по России и СНГ<strong><u><strong></strong></u></strong></strong> <br><br>
            </p><p><strong></strong>Доставка заказа осуществляется: почтой России, EMS почтой, курьерской доставкой лично в руки, всеми транспортными компаниями.<strong></strong><br>
            </p>

            <br>
            <p><strong><strong>Способы оплаты:</strong><strong></strong></strong><br>
            </p><ol>
                <li>Наличными курьеру при получении (по чеку)</li>
                <li>Наложенный платеж (оплата при получении) на почте или при доставке курьером</li>
                <li>Yandex-деньги, QIWI-кошелек, Webmoney</li>
                <li>Банковский перевод на расчётный счёт</li><li>Оплата кредитными картами на сайте</li>
                <li>Перевод на <strong></strong>карту СберБанка<strong></strong> </li>
                <li>Western Union</li>
                <li>Золотая корона</li>
                <li>Контакт</li>
                <li>Колибри (СберБанк)</li>
            </ol><p><strong>Обратите внимание, что при оплате заказа наложенным платежом,
                    с Вас взимается  дополнительный % за денежный перевод (3 - 5 %) той компанией, которую Вы выбрали в качестве доставщика товара.</strong></p>
            <br>
            <p>После отправки мы сообщим номер почтового идентификатора (трек номер) по которому Вы сможете отследить свою посылку в режиме on-line.</p>
            <br>
            <br>
        </div>
    </div>

    <!-- Модальное: гарантия и сертификация   -->
    <div id="sertification" class="modal">
        <div class="modalContent">
            <div class="closeModalButton" onclick="$('#sertification').fadeOut('slow');"><b>x</b></div>
            <h2>Гарантия, обмен и возврат</h2>
            <h3>Гарантии</h3>
            <p>
                Все товары, представленные в интернет-магазине ORIGINAL-KNIFE.RU, изготовлены только на официальных предприятиях
                соответствующих брендов. Мы не занимаемся продажей некачественной, поддельной продукции или реплик, нам дорого
                доверие наших покупателей. Каждое изделие перед отправкой покупателю проходит процедуру проверки качества.
            </p>
            <p>
                На товары, представленные в интернет-магазине ORIGINAL-KNIFE.RU. предоставляется гарантия сроком на один год, при
                условии соблюдения всех правил эксплуатации. Гарантия перестаёт действовать в случае неаккуратного обращения с изделием
                или из-за его неправильной эксплуатации.
            </p>
            </p>
            <p>
                Вопросы, связанные с гарантией, вы можете задать нашим менеджерам по телефону 8 (495) 784-38-34 или по электронной почте
                <a href="mailto:info@ orlglnal-knlfe.ru">info@ orlglnal-knlfe.ru</a>.
            </p>

            <h3>Сертификация</h3>
            <p>
                Все товарные позиции, размещённые на страницах нашего магазина сертифицированы в соответствии с законодательством РФ.
                К каждому товару прилагается копия соответствующего сертификата. При утере сертификата на изделие, его можно получить
                по запросу.
            </p>

            <h3>Отказ от покупки</h3>
            <p>
                Покупатель вправе отказаться от покупки до момента её доставки, связавшись с нами по e-mail, либо по телефону <b>+7 (495)
                    784-38-34</b><br>
                Если решение отказаться от покупки возникло в момент получения товара от курьера, то покупатель обязан полностью оплатить
                услуги транспортировки товара в соответствии с п. 3 ст. 497 ГК РФ. Данная сумма составляет 400 рублей.

            <h3>Обмен товара</h3>
            <p>
                В случае получения товара, имеющего производственные или транспортировочные дефекты покупатель имеет право обменять
                товар на аналогичный, либо, при отсутствии данного артикула на складе, на другой товар с необходимой доплатой разницы в
                цене.
            </p>

            <h3>Возврат товара</h3>
            <p>
                Покупатель, в соответствии с Законом РФ «О защите прав потребителей», в праве вернуть продавцу не подходящий товар (по
                цвету, фасону, габаритам) в течение <b>14 календарных дней</b> с момента покупки в том случае, если товару не был причинён
                ущерб в следствие неправильного либо небрежного использования, сохранена в целости оригинальная упаковка и имеется
                документ о совершении покупки (товарный либо кассовый чек). Следует помнить, что в случае возврата товара стоимость услуг
                по доставке не возмещается.
            </p>
            <p>
                Возврат <b>не распространяется</b> на изделия, включенные в «Перечень товаров, не подлежащих обмену или возврату», в
                соответствии с законодательством РФ.
            </p>
            <br>
            <br>
        </div>
    </div>


    <input type="hidden" id="productId" value="{{ .Product.ID }}">
    <input type="hidden" id="brandCode" value="{{ .Product.BrandCode }}">

    {{/* todo check нафига они вообще нужны здесь */}}
    <input type="hidden" id="categories" value="{{ if .Categories }} TODO Categories {{ end }}">

    <h1>{{ .Product.Name }}</h1>

    {{/* todo Check brand  for cshow discount */}}
    {{/*    <?php if ($brand->code != "Antonini" && $brand->code != "Bark_River" &&  $brand->code != "Benchmade_Knife" &&  $brand->code != "Boker" &&  $brand->code != "Brous_Blades" &&*/}}
    {{/*    $brand->code != "Buck" &&  $brand->code != "Cold_Steel" && $brand->code != "Emerson" && $brand->code != "Flugel_Solingen" && $brand->code != "Gatco" &&*/}}
    {{/*    $brand->code != "Kershaw" && $brand->code != "Microtech" && $brand->code != "Pohl_Force" && $brand->code != "Pro_Tech" && $brand->code != "Sog" &&*/}}
    {{/*    $brand->code != "Victorinox" && $brand->code != "Zero_Tolerance"): ?>*/}}

    <noindex><span class="discount10">Скидка на первую покупку в нашем магазине – 10% *</span></noindex>

    <br>
    <div class="newgoods_block" id="ng_big_desc">
        <div id="pd10" style="height: 1%; overflow: hidden;">
        {{/* todo check admin  */}}
        {{/* <?php if (Yii::app()->user->checkAccess('merchandiser') || Yii::app()->user->checkAccess('developer')): ?>*/}}
            <div class="admin-edit">
                <a href="<?php echo $this->createUrl('/innercontrol/product/update/' . $product->id); ?>"
                   target="_blank">Е</a>
            </div>
            {{/* <?php endif; ?>*/}}
            <div id="ng_big_desc_img"
                 style="float: left; max-width: 320px; border-radius: 6px; margin-top: 0; margin-right: 25px;">
                <a
                        class="fancy-inline"
                        rel="group"
                        title="{{ .Product.Name }}"
                        href="/photo/product/b-{{ .Product.Code }}-d.jpg">
                    <img
                            title="{{ .Product.Name }}"
                            src="/photo/product/b-{{ .Product.Code }}-d.jpg"
                            alt="{{ .Product.Name }}">
                </a>
            </div>
            <div>
                <p style="margin-bottom: 4px;">
                    Бренд: <a style="text-decoration: underline" href="/brands/{{ .Product.BrandCode }}">{{ .Product.BrandName }}</a>
                </p>


                <p style="margin-bottom: 4px;">
                    Каталог:
                {{/*                    <?php if ($category != null):  ?>*/}}
                    <a style="text-decoration: underline"
{{/*                       href="<?php echo $this->createAbsoluteUrl('/catalogue/' . $category->code); ?>">*/}}
                        href="#">
                        {{/*                        <?php echo $category->name ?>*/}}
                        {{/* .Category.Name */}}
                        Названия Категорий! todo-шка
                    </a>
                {{/*                    <?php else: ?>*/}}
                {{/*                    &nbsp;-&nbsp;*/}}
                {{/*                    <?php endif; ?>*/}}
                </p>

                {{ if .Collection }}
                    <p style="margin-bottom: 4px;">
                        Колекция: <a style="text-decoration: underline" href="/brands/{{ .Product.BrandCode }}/{{ .Collection.Code }}">{{ .Collection.Name }}</a>
                    </p>
                {{ end }}
            </div>

            <div>
                <div id="ng_price">
                    Цена {{ .Product.Price }}
                    <span class="line-through">
                        {{ .Product.Price }}<b>руб.</b>
                    </span>
                    {{/*                    <?php endif; ?>*/}}
                    {{/*                    <?php $priceDiscount = $product->price; ?>*/}}
                    {{/*                    <?php if ($product->discount_id): ?>*/}}
                    {{/*                    <?php $priceDiscount = (int)$product->price - (int)$product->price * ((int)$product->discounts->percentage) * 0.01; ?>*/}}
                    <span class="orange">{{ .Product.Price }}</span><b>руб.</b>
                    {{/*                    <?php else: ?>*/}}
                    <span class="orange">

{{/*                        <?php echo number_format((int)$product->price, 2, ',', ' '); ?>*/}}
                        Formatted Price
                    </span>
                    <b>руб.</b>
{{/*                    <?php endif; ?>*/}}
                </div>

                <br>
                {{/* <button class="ng_buy <?php echo $class; ?>"*/}}
                <button class="ng_buy"
                {{/* onclick="cartOrangeButton(this, <?php echo CHtml::encode($product->id); ?>,<?php echo (int)$priceDiscount; ?>);">*/}}
                            onclick="cartOrangeButton(this, {{ .Product.ID }}, {{ .Product.Price }});">
                {{/* <?php echo $linkhtmltext; ?>*/}}
                    Купить / в корзину
                </button>
                <button id="oneClickBuyButton" onclick="$('#oneClickOrder').fadeIn('slow');">
                    Купить в один клик
                </button>
                <br>
                <br>
                <div style="position: relative; float: left">
                    <div id="dileveryButton" onclick="$('#delivery').fadeIn('slow');">
                        <a>Доставка и<br> оплата покупки</a>
                    </div>
                    <div id="certificateButton" onclick="$('#sertification').fadeIn('slow');">
                        <a>Гарантия и<br> сертификация</a>
                    </div>
                </div>
            </div>

            <!-- Доп картинки -->
            <hr style="clear: both; border: none; border-bottom: 1px solid #ddd; padding-top: 10px; margin-bottom: 0px;">
            <div class="preview-container" style="clear: both;">
                {{/* <?php echo StaticImgFormation::productDetailImagePreview($product->code, 'product', CHtml::encode(stripcslashes($product->name))); ?>*/}}
                {{/* todo product image */}}
                img.product.jpg
            </div>

            <div id="ng_big_desc_txt">
                <div style="margin-bottom: 6px;">
                    {{ if .Product.Weight }}
                        <div id="fleft">
                            Вес:
                        </div>
                        <div id="aright">
                            {{ .Product.Weight }} гр.
                        </div>
                    {{ end }}

                    {{ if .Brand.Country.Valid }}
                        <div id="fleft">
                            Страна производитель:
                        </div>
                        <div id="aright">
                            {{ .Brand.Country.String }}
                        </div>
                    {{ end }}

                    <!-- Class knife -->
                    {{ if .ClassKnife }}
                        {{ if .ClassKnife.Color.Valid }}
                            <div id="fleft">
                                Цвет:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.Color.String }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.BladeThickness.Valid }}
                            <div id="fleft">
                                Толщина обуха клинка:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.BladeThickness.Float64 }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.Grind.Valid }}
                            <div id="fleft">
                                Заточка:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.Grind.String }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.BladeMaterial.Valid }}
                            <div id="fleft">
                                Материал лезвия:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.BladeMaterial.String }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.HandleMaterial.Valid }}
                            <div id="fleft">
                                Материал рукояти:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.HandleMaterial.String }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.SheathMaterial.Valid }}
                            <div id="fleft">
                                Материал ножен:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.SheathMaterial.String }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.LanyardHoleDiameter.Valid }}
                            <div id="fleft">
                                Диаметр отверстия под темляк:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.LanyardHoleDiameter.Float64 }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.BladeLength }}
                            <div id="fleft">
                                Длина лезвия:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.BladeLength }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.BladeWidth }}
                            <div id="fleft">
                                Ширина лезвия:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.BladeWidth }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.KnifeLength }}
                            <div id="fleft">
                                Длина ножа:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.KnifeLength }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.KnifeWidth }}
                            <div id="fleft">
                                Ширина ножа:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.KnifeWidth }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.HandleLength }}
                            <div id="fleft">
                                Длина рукояти:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.HandleLength }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.BladeHardness }}
                            <div id="fleft">
                                Твердость лезвия (HRc):
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.BladeHardness }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.SharpeningStone }}
                            <div id="fleft">
                                Камень заточки:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.SharpeningStone }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.ShapeSharpening }}
                            <div id="fleft">
                                Форма заточки:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.ShapeSharpening }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.SharpeningAngle }}
                            <div id="fleft">
                                Угол заточки:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.SharpeningAngle }} град.
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.SharpeningStages }}
                            <div id="fleft">
                                Количество этапов заточки:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.SharpeningStages }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.TypeProcessingBlade }}
                            <div id="fleft">
                                Тип обработки клинка:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.TypeProcessingBlade }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.NumberOfLayers }}
                            <div id="fleft">
                                Количество слоёв:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.NumberOfLayers }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.LockType }}
                            <div id="fleft">
                                Тип замка:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.LockType }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.Clamp }}
                            <div id="fleft">
                                Фиксатор:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.Clamp }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.Fuse }}
                            <div id="fleft">
                                Предохранитель:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.Fuse }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.MechanismType }}
                            <div id="fleft">
                                Тип механизма:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.MechanismType }}
                            </div>
                        {{ end }}

                        {{ if .ClassKnife.Designer }}
                            <div id="fleft">
                                Дизайнер:
                            </div>
                            <div id="aright">
                                {{ .ClassKnife.Designer }}
                            </div>
                        {{ end }}

                    {{ end }}

                    <!-- Class type -->
                    {{ if .ClassType }}

                        {{ if .ClassType.Volume }}
                            <div id="fleft">
                                Объем:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Volume }}
                            </div>
                         {{ end }}

                        {{ if .ClassType.Length }}
                            <div id="fleft">
                                Длина:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Length }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassType.Width }}
                            <div id="fleft">
                                Ширина:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Width }}мм.
                            </div>
                        {{ end }}

                        {{ if .ClassType.Height }}
                            <div id="fleft">
                                Высота:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Height }} мм.
                            </div>
                         {{ end }}

                        {{ if .ClassType.Thickness }}
                            <div id="fleft">
                                Толщина:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Thickness }} мм.
                            </div>
                         {{ end }}

                        {{ if .ClassType.Depth }}
                            <div id="fleft">
                                Глубина:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Depth }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassType.Diameter }}
                            <div id="fleft">
                                Диаметр:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Diameter }} мм.
                            </div>
                         {{ end }}

                        {{ if .ClassType.Material }}
                            <div id="fleft">
                                Материал:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Material }}
                            </div>
                         {{ end }}

                        {{ if .ClassType.Packaging }}
                            <div id="fleft">
                                Упаковка:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Packaging }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.SharpeningAngle1 }}
                        <div id="fleft">
                            Угол заточки 1:
                        </div>
                        <div id="aright">
                            {{ .ClassType.SharpeningAngle1 }} град.
                        </div>
                        {{ end }}

                        {{ if .ClassType.SharpeningAngle2 }}
                            <div id="fleft">
                                Угол заточки 2:
                            </div>
                            <div id="aright">
                                {{ .ClassType.SharpeningAngle2 }} град.
                            </div>
                        {{ end }}

                        {{ if .ClassType.SharpeningAngle3 }}
                            <div id="fleft">
                                Угол заточки 3:
                            </div>
                            <div id="aright">
                                {{ .ClassType.SharpeningAngle3 }} град.
                            </div>
                        {{ end }}

                        {{ if .ClassType.SharpeningAngle4 }}
                            <div id="fleft">
                                Угол заточки 4:
                            </div>
                            <div id="aright">
                                {{ .ClassType.SharpeningAngle4 }} град.
                            </div>
                        {{ end }}

                        {{ if .ClassType.Color }}
                            <div id="fleft">
                                Цвет:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Color }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Design }}
                            <div id="fleft">
                                Дизайн:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Design }}
                            </div>
                         {{ end }}

                        {{ if .ClassType.Filter }}
                            <div id="fleft">
                                Фильтр:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Filter }}
                            </div>
                         {{ end }}

                        {{ if .ClassType.Object01 }}
                            <div id="fleft">
                                Предмет 1:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object01 }}
                            </div>
                         {{ end }}

                        {{ if .ClassType.Object02 }}
                            <div id="fleft">
                                Предмет 2:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object02 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object03 }}
                            <div id="fleft">
                                Предмет 3:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object03 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object04 }}
                            <div id="fleft">
                                Предмет 4:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object04 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object05 }}
                            <div id="fleft">
                                Предмет 5:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object05 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object06 }}
                            <div id="fleft">
                                Предмет 6:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object06 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object07 }}
                            <div id="fleft">
                                Предмет 7:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object07 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object08 }}
                            <div id="fleft">
                                Предмет 8:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object08 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object09 }}
                            <div id="fleft">
                                Предмет 9:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object09 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.Object10 }}
                            <div id="fleft">
                                Предмет 10:
                            </div>
                            <div id="aright">
                                {{ .ClassType.Object10 }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.RemovingCap }}
                            <div id="fleft">
                                Метод снятия колпачка:
                            </div>
                            <div id="aright">
                                {{ .ClassType.RemovingCap }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.RodType }}
                            <div id="fleft">
                                Тип стержня:
                            </div>
                            <div id="aright">
                                {{ .ClassType.RodType }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.InkColor }}
                            <div id="fleft">
                                Цвет чернил:
                            </div>
                            <div id="aright">
                                {{ .ClassType.InkColor }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.BladeLength }}
                            <div id="fleft">
                                Длинна лезвия:
                            </div>
                            <div id="aright">
                                {{ .ClassType.BladeLength }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassType.HandleMaterial }}
                            <div id="fleft">
                                Материая рукоятки:
                            </div>
                            <div id="aright">
                                {{ .ClassType.HandleMaterial }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.AxMaterial }}
                            <div id="fleft">
                                Материал топорища:
                            </div>
                            <div id="aright">
                                {{ .ClassType.AxMaterial }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.WebMaterial }}
                            <div id="fleft">
                                Материал полотна:
                            </div>
                            <div id="aright">
                                {{ .ClassType.WebMaterial }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.ToothPitch }}
                            <div id="fleft">
                                Шаг зубьев:
                            </div>
                            <div id="aright">
                                {{ .ClassType.ToothPitch }}
                            </div>
                        {{ end }}

                        {{ if .ClassType.InnerSize }}
                            <div id="fleft">
                                Внутренний размер:
                            </div>
                            <div id="aright">
                                {{ .ClassType.InnerSize }} мм.
                            </div>
                        {{ end }}

                        {{ if .ClassType.ButtThickness }}
                            <div id="fleft">
                                Толщина обуха:
                            </div>
                            <div id="aright">
                                {{ .ClassType.ButtThickness }}мм.
                            </div>
                        {{ end }}
                    {{ end }}
                </div>

                <br>

                {{ if .Product.ShortDescription }}
                    <h3>Подробное описание {{ .Product.Name }}</h3>
                    <p>
                        {{ .Product.ShortDescription }}
                    </p>
                {{ end }}

                {{ if .Product.VideoLink }}
                    <div class="video_link">
                        <br><br>
                        <div style="text-align: center;">
                            {{ .Product.VideoLink }}
                        </div>
                        <br><br>
                    </div>
                {{ end }}

                <p>
                    {{ .Product.FullDescription }}
                </p>
                <br>
            </div>

            <div style="float: left; height: 70px; border: 0px solid red;">
                <div id="ng_price">
                    {{/* todo product Discount */}}
                    Цена
                    {{ if .Product.DiscountID}}
                    {{/* <?php if ($product->discount_id): ?>*/}}
                    <span class="line-through">
                    {{/* <?php echo number_format((int)CHtml::encode($product->price), 2, ',', ' '); ?> */}}
                        {{ .Product.Price }}
                    <b>руб.</b>
                    </span>
                    {{ end }}

                    {{/*                    <?php $priceDiscount = $product->price; ?>*/}}
                    {{/*                    <?php if ($product->discount_id): ?>*/}}
                    {{/*                    <?php $priceDiscount = (int)$product->price - (int)$product->price * ((int)$product->discounts->percentage) * 0.01; ?>*/}}
                    {{/*                    <span class="orange">*/}}
                    {{/*                            <?php echo number_format($priceDiscount, 2, ',', ' '); ?>*/}}
                    {{/*                        </span>*/}}
                    {{/*                    <b>руб.</b>*/}}
                    {{/*                    <?php else: ?>*/}}
                    {{/*                    <span class="orange">*/}}
                    {{/*                        <?php echo number_format((int)$product->price, 2, ',', ' '); ?>*/}}
                    {{/*                    </span>*/}}
                    {{/*                    <b>руб.</b>*/}}
                    {{/*                    <?php endif; ?>*/}}
                </div>
                {{/* todo fix class */}}
                <div class="ng_buy <?php echo $class; ?>"
                     onclick="cartOrangeButton(this,{{ .Product.ID }},{{ .Product.Price }}">
                    {{/* todo fix buy button  */}}
                    {{/* <?php echo $linkhtmltext; ?>*/}}
                    Купить
                </div>
            </div>

            <div style="float: right;">
                <p style="padding-bottom: 6px; text-align: right">Поделиться с друзьями:</p>
                <a onclick="window.open('http://vkontakte.ru/share.php?url={{ .Url }}',
                'socialPopupWindow', 'location=no,width=400,height=300,scrollbars=yes,top=100,left=700,resizable = no')">
                <img src='/public/img/VKontakte.png' border='0' width='32' height='32' alt='' title='Поделиться ВКонтакте'>
                </a>
                <a onclick="window.open('http://plus.google.com/share?url={{ .Url }}',
                'socialPopupWindow', 'location=no,width=400,height=650,scrollbars=yes,top=100,left=700,resizable = no')">
                <img src='/public/img/Google+.png' border='0' width='32' height='32' alt='' title='Поделиться Google+'>
                </a>
                <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ .Url }}',
                'socialPopupWindow', 'location=no,width=650,height=500,scrollbars=yes,top=100,left=700,resizable = no')">
                <img src='/public/img/Facebook.png' border='0' width='32' height='32' alt='' title='Поделиться Google+'>
                </a>
                <a onclick="window.open('http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl={{ .Url }}',
                'socialPopupWindow', 'location=no,width=650,height=500,scrollbars=yes,top=100,left=700,resizable = no')">
                <img src='/public/img/Odnoklassniki.png' border='0' width='32' height='32' alt='' title='Поделиться Google+'>
                </a>
                <a onclick="window.open('https://twitter.com/intent/tweet?url={{ .Url }}',
                'socialPopupWindow', 'location=no,width=450,height=300,scrollbars=yes,top=100,left=700,resizable = no')">
                <img src='/public/img/Twitter.png' border='0' width='32' height='32' alt='' title='Поделиться Google+'>
                </a>
            </div>
        </div>
    </div>

    <br>

    <!-- Похожие продукты -->
    {{ if .Similar }}
        <div>
            <h2>Похожие продукты:</h2>
            <br>
            <div id="similarListView">
                {{/* todo show similar */}}
            {{/* <?php $this->renderPartial('_similarListView', array('dataProvider' => $similarDataProvider)); ?>*/}}
            </div>

            <div class="hr"></div>
            <br>
        </div>
    {{ end }}

    <!-- Сопутствующие товары -->
    {{ if .Related }}
        <div>
            <h2>Сопутствующие товары:</h2>
            <br>
            <div id="relatedListView">
            {{/* todo show related */}}
            {{/* <?php $this->renderPartial('_relatedListView', array('dataProvider' => $relatedDataProvider)); ?>*/}}
            </div>

            <div class="hr"></div>
            <br>
        </div>
    {{ end }}

    <!-- Вы недавно смотрели -->
    {{/*    <?php if ($recentlyViewedDataProvider->itemCount > 0): ?>*/}}
    {{ if .Recently }}
        <div>
            <h2>Вы недавно смотрели:</h2>
            <br>
            <div id="recentlyViewedListView">
                {{/* todo show recently */}}
                <?php $this->renderPartial('_recentlyListView', array('dataProvider' => $recentlyViewedDataProvider)); ?>
            </div>

            <div class="hr"></div>
            <br>
        </div>
    {{ end }}

{{ end }}