/*================ VERTICAL MENU =================*/
ul.vertmenu {
    padding:0;
}
ul.vertmenu li {
    padding:2px 0;
    margin:0;
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    /*background: url(msimple.png) left 2px no-repeat;*/
}
ul.vertmenu li ul {
    padding:0;
    margin: 5px 0 8px 5px;
    /*display:none;*/
    text-transform: none;
    line-height:85%;
}
ul.vertmenu li ul li {
    font-size:12px;
}

ul#left_menu div.mark, ul#right_menu div.mark {
    border: 0px solid red; height: 15px; width: 15px; float: left;
}

ul#left_menu div.mark.hasChildren, ul#right_menu div.mark.hasChildren {
    cursor: pointer;
}

ul#left_menu a, ul#right_menu a {
    padding-left: 1.5em;
    text-decoration: none;
    display: block;
}
ul#left_menu a:hover, ul#right_menu a:hover {
    color: #8a7498;
    font-weight: bold;
}

ul#left_menu a.root, ul#right_menu a.root {
    /*background: url(../public/img/msimple.png) left 2px no-repeat;*/
}
ul#left_menu a.collapsed, ul#right_menu a.collapsed {
    background: url(../img/mplus.png) left 2px no-repeat;
}
ul#left_menu a.expanded, ul#right_menu a.expanded {
    background: url(../img/mminus.png) left 2px no-repeat;
}

.selected {
    color: #ae93c0;
    font-weight: bold;
}