{{ define "head" }}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>
            {{.PromoTitle}}
        </title>

        <link href="public/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext"
              rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/public/vertmenu/vertmenu.css"/>

        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>

        <script
                src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>

        <script type="text/javascript" async src="/public/vertmenu/jquery.cookie.min.js"></script>
        <script type="text/javascript" async src="/public/vertmenu/jquery.vert_menu.min.js"></script>
        <script type="text/javascript" src="/public/js/elements.js"></script>


        <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

        <script type="text/javascript" src="/public/js/addtocart.js"></script>
        <script type="text/javascript" src="/public/js/productview.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.2/dist/vue-awesome-swiper.js"></script>

        <link rel="stylesheet" href="/public/css/product.css">
        <link rel="stylesheet" href="/public/css/catalog.css">
        <link rel="stylesheet" href="/public/css/index.css">
        <link rel="stylesheet" href="/public/css/form.css">
        <link rel="stylesheet" href="/public/css/cart.css">
    </head>
{{ end }}