{{ define "menu_right" }}
    <ul id="right_menu" class="vertmenu">
        {{ range .MenuRight }}
            {{ if .IsRoot }}
                {{ if .HasChild }}
                    <li><div class="mark hasChildren"></div>
                        <a class="brandMenuLink collapsed" href="/brands/{{ .Code }}">{{ .Name }}</a>
                    {{ else }}
                        <li><div class="mark"></div>
                            <a class="brandMenuLink" href="/brands/{{ .Code }}">{{ .Name }}</a>
                        </li>
                {{ end }}
            {{ else }}
                {{ if .IsFirst }}
                    <ul style="display: none;">
                {{ end }}
                    <li><a class="collectionMenuLink" href="/brands/{{ .ParentCode }}/{{ .Code }}">{{ .Name }}</a></li>
                {{ if .IsLast }}
                    </ul>
                        </li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
{{ end }}