{{ define "menu_left" }}
    <ul id="left_menu" class="vertmenu">
        {{ range .MenuLeft }}
            {{ if .IsRoot }}
                {{ if .HasChild }}
                    <li><div class="mark hasChildren"></div>
                        <a class="categoryMenuLink collapsed" href="/catalogue/{{ .Code }}">{{ .Name }}</a>
                    {{ else }}
                        <li><div class="mark"></div>
                            <a class="categoryMenuLink" href="/catalogue/{{ .Code }}">{{ .Name }}</a>
                        </li>
                {{ end }}
            {{ else }}
                {{ if .IsFirst }}
                    <ul style="display: none;">
                {{ end }}
                    <li><a class="subcategoryMenuLink" href="/catalogue/{{ .ParentCode }}/{{ .Code }}">{{ .Name }}</a></li>
                {{ if .IsLast }}
                    </ul>
                        </li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
{{ end }}