{{ define "products" }}
    <div id="productsListView">
    {{ if .Products }}
        {{ range .Products }}
            <div class="newgoods_block">
                {{/*  Если админ - показать кнопочку редактирования */}}
                <div class="admin-edit">
                    <a href="#url_dannogo_producta_v_adminke" target="_blank">Е</a>
                </div>
                <div class="goods_img_place">
                    <img alt="Туристический нож Benchmade 200 Puukko" src="/photo/product/s-{{ .Code }}-d.jpg">
                </div>
                <div id="ng_desc">
                {{/* <?php echo CHtml::link( $data->name, $this->createAbsoluteUrl("/product/".$data->brands->code."/".CHtml::encode($data->code).".html")); ?>*/}}
                    <a href="/product/{{ .BrandCode }}/{{ .Code }}.html">{{ .Name }}</a>
                </div>
                <div id="ng_brand">
                {{/* <?php echo CHtml::link($data->brands->name, $this->createAbsoluteUrl( "/brands/".CHtml::encode($data->brands->code)) ); ?>*/}}
                    <a href="/brands/{{ .BrandCode }}">{{ .BrandName }}</a>
                </div>
                <div id="ng_price" style="height: 24px;">
                    {{ if false }}
                    <span class="line-through">
                        {{/*<?php echo CHtml::encode($data->price); ?> <b>руб.</b>*/}}
                        {{ .DiscountID }}
                    </span>
                    {{ end }}
                </div>
                <div class="ng_price_discount">
                    {{/* <?php $priceDiscount =  $data->price; ?>*/}}
                    {{/* <?php if ($data->discount_id): ?>*/}}
                    {{/* <?php $priceDiscount =  (int)$data->price - (int)$data->price * ( (int)$data->discounts->percentage ) * 0.01  ; ?>*/}}
                    {{/* <?php echo $priceDiscount; ?> <b>руб.</b>*/}}
                    {{/* <?php else:  ?>*/}}
                    {{/* <?php echo $data->price; ?> <b>руб.</b>*/}}
                    {{/* <?php endif; ?>*/}}
                    {{ .Price }} руб.
                </div>

                {{/*    <?php*/}}
                {{/*// Проверка нажатия кнопки*/}}
                {{/*$class="";*/}}
                {{/*$linkhtmltext="Купить";*/}}
                {{/*// Проверим, есть ли товар в корзине*/}}
                {{/*if( isset(Yii::app()->request->cookies['storeCubeProducts']) ) {*/}}
                {{/*    $productsArray = json_decode(Yii::app()->request->cookies['storeCubeProducts']->value, true);*/}}
                {{/*    if (array_key_exists($data->id, $productsArray)) {*/}}
                {{/*    $class = "deleteOrange";*/}}
                {{/*    $linkhtmltext = "В корзину";*/}}

                {{/*    }*/}}
                {{/*    }*/}}
                {{/*    ?>*/}}

                {{/*  <div class="ng_buy <?php echo $class; ?>" onclick="cartOrangeButton(this, <?php echo CHtml::encode($data->id); ?>,<?php echo $priceDiscount; ?>);">*/}}
                {{/*   <?php echo $linkhtmltext; ?>*/}}
                {{/* </div>*/}}
                <div class="ng_buy">
                    Купить
                </div>
            </div>
        {{ end }}
    {{ else }}
        В данной категории нет продуктов
    {{ end }}
    </div>
{{ end }}

