<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

{{ template "head" .}}

<body>

{{ template "statistic" .}}

<div id="backPhoneCall" class="modal">
    <div class="modalContent">
        <div class="closeModalButton" onclick="$('#backPhoneCall').fadeOut('slow');"><b>x</b></div>
        <form id="callback" style="padding: 10px;">
            <p>Пожалуйста, заполните форму, и мы перезвоним.</p><br>
            <div>
                <label for="cbname" style="display:block; margin: 5px;">Имя: </label>
                <input id="cbname" type="text" name="cbname" style="width: 100%">
            </div>
            <div>
                <label for="cbphone" style="display:block; margin: 5px;">Телефон: </label>
                <input id="cbphone" type="text" name="cbphone" style="width: 100%">
            </div>
            <div id="cbcallbt" onclick="ajaxCallback();" name="cbcallbt">Позвонить мне</div>
        </form>
    </div>
</div>

<div id="wrapper" style="z-index: 1">

    <!-- HEADER -->

    <div id="header">
        <div id="logo">
            <div class="logo-link">
                <a href="/">
                    <div class="logo-place">
                        <span class="logoname">Original Knife</span><br>
                        <span class="logodescription">Магазин оригинальных ножей</span>
                    </div>

                    <div style="border: 0px solid red; color: #555; text-align: right; padding-top: 12px;">
                        Заказы принимаются с 9:00 до 22:00 по Москве
                    </div>
                    <div style="border: 0px solid red; color: #555; text-align: right; ">
                        Магазин работает ежедневно без выходных, круглосуточный приём интернет-заказов
                    </div>
                </a>
            </div>
            <div id="cart_block">

                <div id="login">
                    <a href="/site/registration">Регистрация</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="/site/login">Авторизация</a>
                </div>

                <a id="headerCartLink" class="headerCartLink" href="/cart">
                    <div id="cart_img">
                        Корзина
                    </div>

                    <div id="header_cart">
                        <div id="cart_goods">
                            <div class="cart_gt">Товаров:</div> <div id="cart_goods_num">
                                <!-- <?php echo $quantity; ?> -->0
                            </div>
                        </div>

                        <div id="cart_sum">
                            <div class="cart_gt">Сумма:</div> <div id="cart_sum_num">
                                <!-- <?php echo $total; ?> -->0
                                </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="phone" onclick="$('#backPhoneCall').fadeIn('slow');">
                <span class="number">+7(495)784-38-34</span><br>
                <span class="callback">Обратный звонок</span>
            </div>

        </div>

        <div id="topnav">
            <noindex>
                <a href="/">Главная</a>

                <div class="topnav_sep"></div>
                <a href="/catalogue">Каталог</a>

                <div class="topnav_sep"></div>
                <a href="/site/payment">Доставка и оплата</a>

                <div class="topnav_sep"></div>
                <a href="/site/contact">Контакты</a>

                <div class="topnav_sep"></div>
                <a href="/novelty">Новинки</a>

                <div class="topnav_sep"></div>
                <a href="/discount">Скидки</a>

                <div class="topnav_sep"></div>
                <a href="site/stocks">Акции</a>

                <div class="topnav_sep"></div>
                <a href="/sitemap">Карта сайта</a>

{{/*                <div class="topnav_sep"></div>*/}}
{{/*                <a href="/site/logout">Выход (Name)</a>*/}}

{{/*                <div class="topnav_sep"></div>*/}}
{{/*                <a target="_blank" href="/innercontrol">Админка</a>*/}}

            </noindex>
        </div>
    </div>

    <!-- HEADER END -->
    <!-- CONTENT BODY wrapper -->

    <div id="content_body_wrapper">

        <!-- LEFT MENU -->
        <div id="left_menu_block">
            <div id="lm_title"><a href="/categories">Категории товаров</a></div>
            {{ template "menu_left" .}}
        </div>
        <!-- RIGHT MENU -->

        <div id="right_menu_block">
            <div id="rm_title"><a href="https://original-knife.ru/brands">Бренды</a></div>
            {{ template "menu_right" .}}
        </div>

        <!-- CENTER BLOCK -->

        <div id="center_content_block">

            <!-- SEARCH -->
            <div class="search_filter">
                    <div id="search">
                        <form action="/product" method="get" name="search">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="pr5">
                                        <input name="search" type="text" id="searchfield" >
                                    </td>
                                    <td width="70">
                                        <input type="submit" value="Найти" class="button">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: right">
                                        <br>
                                        <a id="advancedSearch" href="/search">Расширенный&nbsp;поиск</a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                </div>
                <!-- SEARCH END -->

            <!-- MAIN CONTENT -->

            <div id="content">
                <div style="padding-left: 15px; padding-top: 15px;">
                    {{/* BreadCrumbs*/}}
                </div>

                {{ template "pages" .}}

            </div>

        </div>

    </div>

    <!-- FOOTER -->
    <div id="footer">
        <div class="float-left">
            <a href="/">Главная</a><span>&nbsp;|&nbsp;</span>
            <a href="/site/payment">Доставка и
                оплата </a><span>&nbsp;|&nbsp;</span>
            <a href="/site/contact">Контакты </a><span>&nbsp;|&nbsp;</span>
            <a href="/novelty">Новинки </a><span>&nbsp;|&nbsp;</span>
            <a href="/discount">Скидки </a><span>&nbsp;|&nbsp;</span>
            <a href="/site/stocks">Акции </a><span>&nbsp;|&nbsp;</span>
            <a href="/cart">Корзина </a><span>&nbsp;|&nbsp;</span>
            <a onclick="$('#backPhoneCall').fadeIn('slow');">Обратный звонок</a><span>&nbsp;|&nbsp;</span>
            <a href="/sitemap">Карта сайта</a>
        </div>

        <div class="float-right">
            <a href="/">&copy; 2012 - <!-- today --> «Ориджинал Найф» – интернет-магазин ножей и
                инструментов </a>
        </div>
    </div>

    <!---------------------- To Up ------------------------>
    <div class="toUp"></div>
    <!------------ CONTENT BODY wrapper END --------------->

</div>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'Irk5XhPjY8';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE -->

<script type="text/javascript" src="/public/js/index.js"></script>
</body>
</html>
